@font-face {
    font-family: 'Roboto', sans-serif;
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    src: url('/fonts/Roboto/*') format('ttf');
}

// @font-face {
//     font-family: 'Roboto', sans-serif;
//     font-weight: 100;
//     font-display: swap;
//     font-style: normal;
//     src: url('../fonts/Roboto/Roboto-Thin') format('ttf');
// }

// @font-face {
//     font-family: 'Roboto', sans-serif;
//     font-weight: 300;
//     font-display: swap;
//     font-style: normal;
//     src: url('../fonts/Roboto/Roboto-Light') format('ttf');
// }

// @font-face {
//     font-family: 'Roboto', sans-serif;
//     font-weight: 400;
//     font-display: swap;
//     font-style: normal;
//     src: url('../fonts/Roboto/Roboto-Regular') format('ttf');
// }

// @font-face {
//     font-family: 'Roboto', sans-serif;
//     font-weight: 500;
//     font-display: swap;
//     font-style: normal;
//     src: url('../fonts/Roboto/Roboto-Medium') format('ttf');
// }

// @font-face {
//     font-family: 'Roboto', sans-serif;
//     font-weight: 700;
//     font-display: swap;
//     font-style: normal;
//     src: url('../fonts/Roboto/Roboto-Bold') format('ttf');
// }

// @font-face {
//     font-family: 'Roboto', sans-serif;
//     font-weight: 900;
//     font-display: swap;
//     font-style: normal;
//     src: url('../fonts/Roboto/Roboto-Black') format('ttf');
// }