@import 'variables';

:root {
    --ym-spacing-scale-1:#{$ym-spacing-scale-1};
    --ym-spacing-scale-2:#{$ym-spacing-scale-2};
    --ym-spacing-scale-3:#{$ym-spacing-scale-3};
    --ym-spacing-scale-4:#{$ym-spacing-scale-4};
    --ym-spacing-scale-5:#{$ym-spacing-scale-5};
    --ym-spacing-scale-6:#{$ym-spacing-scale-6};
    --ym-spacing-scale-7:#{$ym-spacing-scale-7};
    --ym-spacing-scale-8:#{$ym-spacing-scale-8};
    --ym-spacing-scale-9:#{$ym-spacing-scale-9};
    --ym-spacing-scale-10:#{$ym-spacing-scale-10};
    --ym-spacing-scale-11:#{$ym-spacing-scale-11};
    --ym-spacing-scale-11-5:#{$ym-spacing-scale-11-5};
    --ym-spacing-scale-12:#{$ym-spacing-scale-12};
    --ym-spacing-scale-13:#{$ym-spacing-scale-13};
    --ym-spacing-scale-15:#{$ym-spacing-scale-15};
    --ym-spacing-scale-20:#{$ym-spacing-scale-20};
    --ym-spacing-scale-26:#{$ym-spacing-scale-26};
    --ym-spacing-scale-28:#{$ym-spacing-scale-28};
    --ym-spacing-scale-30:#{$ym-spacing-scale-30};
    --ym-spacing-scale-34:#{$ym-spacing-scale-34};
    --ym-spacing-scale-48:#{$ym-spacing-scale-48};
    --ym-spacing-scale-54:#{$ym-spacing-scale-54};
    --ym-spacing-scale-62:#{$ym-spacing-scale-62};
    --ym-spacing-scale-75:#{$ym-spacing-scale-75};
    --ym-spacing-scale-80:#{$ym-spacing-scale-80};
    --breakpoint-sm:#{$breakpoint-sm};
    --breakpoint-md:#{$breakpoint-md};
    --breakpoint-lg:#{$breakpoint-lg};
    --breakpoint-xl:#{$breakpoint-xl};
    --black:#{$black};
    --black-normal:#{$black-normal};
    --white:#{$white};
    --white-contrast:#{$white-contrast};
    --white-normal:#{$white-normal};
    --white-dark:#{$white-dark};
    --white-transparent:#{$white-transparent};
    --transparent-rgba:#{$transparent-rgba};
    --green-50:#{$green-50};
    --green-100:#{$green-100};
    --green-200:#{$green-200};
    --green-300:#{$green-300};
    --green-400:#{$green-400};
    --green-500:#{$green-500};
    --green-600:#{$green-600};
    --green-700:#{$green-700};
    --green-800:#{$green-800};
    --green-900:#{$green-900};
    --green-950:#{$green-950};
    --blue-50:#{$blue-50};
    --blue-100:#{$blue-100};
    --blue-200:#{$blue-200};
    --blue-300:#{$blue-300};
    --blue-400:#{$blue-400};
    --blue-500:#{$blue-500};
    --blue-600:#{$blue-600};
    --blue-700:#{$blue-700};
    --blue-800:#{$blue-800};
    --blue-900:#{$blue-900};
    --blue-950:#{$blue-950};
    --orange-50:#{$orange-50};
    --orange-100:#{$orange-100};
    --orange-200:#{$orange-200};
    --orange-300:#{$orange-300};
    --orange-400:#{$orange-400};
    --orange-500:#{$orange-500};
    --orange-600:#{$orange-600};
    --orange-700:#{$orange-700};
    --orange-800:#{$orange-800};
    --orange-900:#{$orange-900};
    --orange-950:#{$orange-950};
    --red-50:#{$red-50};
    --red-100:#{$red-100};
    --red-200:#{$red-200};
    --red-300:#{$red-300};
    --red-400:#{$red-400};
    --red-500:#{$red-500};
    --red-600:#{$red-600};
    --red-700:#{$red-700};
    --red-800:#{$red-800};
    --red-900:#{$red-900};
    --red-950:#{$red-950};
    --purple-50:#{$purple-50};
    --purple-100:#{$purple-100};
    --purple-200:#{$purple-200};
    --purple-300:#{$purple-300};
    --purple-400:#{$purple-400};
    --purple-500:#{$purple-500};
    --purple-600:#{$purple-600};
    --purple-700:#{$purple-700};
    --purple-800:#{$purple-800};
    --purple-900:#{$purple-900};
    --purple-950:#{$purple-950};
    --gray-10:#{$gray-10};
    --gray-50:#{$gray-50};
    --gray-100:#{$gray-100};
    --gray-200:#{$gray-200};
    --gray-300:#{$gray-300};
    --gray-400:#{$gray-400};
    --gray-500:#{$gray-500};
    --gray-600:#{$gray-600};
    --gray-700:#{$gray-700};
    --gray-800:#{$gray-800};
    --gray-900:#{$gray-900};
    --gray-950:#{$gray-950};
    --brand:#{$brand-main};
    --brand-light:#{$brand-light};
    --data-viz-green-50:#{$data-viz-green-50};
    --data-viz-green-100:#{$data-viz-green-100};
    --data-viz-green-200:#{$data-viz-green-200};
    --data-viz-green-300:#{$data-viz-green-300};
    --data-viz-green-400:#{$data-viz-green-400};
    --data-viz-green-500:#{$data-viz-green-500};
    --data-viz-green-600:#{$data-viz-green-600};
    --data-viz-green-700:#{$data-viz-green-700};
    --data-viz-green-800:#{$data-viz-green-800};
    --data-viz-green-900:#{$data-viz-green-900};
    --data-viz-green-950:#{$data-viz-green-950};
    --data-viz-aqua-50:#{$data-viz-aqua-50};
    --data-viz-aqua-100:#{$data-viz-aqua-100};
    --data-viz-aqua-200:#{$data-viz-aqua-200};
    --data-viz-aqua-300:#{$data-viz-aqua-300};
    --data-viz-aqua-400:#{$data-viz-aqua-400};
    --data-viz-aqua-500:#{$data-viz-aqua-500};
    --data-viz-aqua-600:#{$data-viz-aqua-600};
    --data-viz-aqua-700:#{$data-viz-aqua-700};
    --data-viz-aqua-800:#{$data-viz-aqua-800};
    --data-viz-aqua-900:#{$data-viz-aqua-900};
    --data-viz-aqua-950:#{$data-viz-aqua-950};
    --data-viz-blue-50:#{$data-viz-blue-50};
    --data-viz-blue-100:#{$data-viz-blue-100};
    --data-viz-blue-200:#{$data-viz-blue-200};
    --data-viz-blue-300:#{$data-viz-blue-300};
    --data-viz-blue-400:#{$data-viz-blue-400};
    --data-viz-blue-500:#{$data-viz-blue-500};
    --data-viz-blue-600:#{$data-viz-blue-600};
    --data-viz-blue-700:#{$data-viz-blue-700};
    --data-viz-blue-800:#{$data-viz-blue-800};
    --data-viz-blue-900:#{$data-viz-blue-900};
    --data-viz-blue-950:#{$data-viz-blue-950};
    --data-viz-magenta-50:#{$data-viz-magenta-50};
    --data-viz-magenta-100:#{$data-viz-magenta-100};
    --data-viz-magenta-200:#{$data-viz-magenta-200};
    --data-viz-magenta-300:#{$data-viz-magenta-300};
    --data-viz-magenta-400:#{$data-viz-magenta-400};
    --data-viz-magenta-500:#{$data-viz-magenta-500};
    --data-viz-magenta-600:#{$data-viz-magenta-600};
    --data-viz-magenta-700:#{$data-viz-magenta-700};
    --data-viz-magenta-800:#{$data-viz-magenta-800};
    --data-viz-magenta-900:#{$data-viz-magenta-900};
    --data-viz-magenta-950:#{$data-viz-magenta-950};
    --data-viz-orange-50:#{$data-viz-orange-50};
    --data-viz-orange-100:#{$data-viz-orange-100};
    --data-viz-orange-200:#{$data-viz-orange-200};
    --data-viz-orange-300:#{$data-viz-orange-300};
    --data-viz-orange-400:#{$data-viz-orange-400};
    --data-viz-orange-500:#{$data-viz-orange-500};
    --data-viz-orange-600:#{$data-viz-orange-600};
    --data-viz-orange-700:#{$data-viz-orange-700};
    --data-viz-orange-800:#{$data-viz-orange-800};
    --data-viz-orange-900:#{$data-viz-orange-900};
    --data-viz-orange-950:#{$data-viz-orange-950};
    --t-gray-a-02:#{$t-gray-a-02};
    --t-gray-a-04:#{$t-gray-a-04};
    --t-gray-a-06:#{$t-gray-a-06};
    --t-gray-a-08:#{$t-gray-a-08};
    --t-gray-a-16:#{$t-gray-a-16};
    --t-gray-a-24:#{$t-gray-a-24};
    --t-white-a-02:#{$t-white-a-02};
    --t-white-a-04:#{$t-white-a-04};
    --t-white-a-06:#{$t-white-a-06};
    --t-white-a-08:#{$t-white-a-08};
    --t-white-a-16:#{$t-white-a-16};
    --t-white-a-24:#{$t-white-a-24};
    --ym-text-color:#{$ym-text-color};
    --ym-text-color-secondary:#{$ym-text-color-secondary};
    --ym-text-color-disabled:#{$ym-text-color-disabled};
    --ym-font-weight-light:#{$ym-font-weight-light};
    --ym-font-weight-normal:#{$ym-font-weight-normal};
    --ym-font-weight-semibold:#{$ym-font-weight-semibold};
    --ym-font-weight-bold:#{$ym-font-weight-bold};
    --ym-line-height-12:#{$ym-line-height-12};
    --ym-line-height-16:#{$ym-line-height-16};
    --ym-line-height-20:#{$ym-line-height-20};
    --ym-line-height-24:#{$ym-line-height-24};
    --ym-line-height-28:#{$ym-line-height-28};
    --ym-line-height-32:#{$ym-line-height-32};
    --ym-line-height-36:#{$ym-line-height-36};
    --ym-line-height-42:#{$ym-line-height-42};
    --ym-line-height-44:#{$ym-line-height-44};
    --ym-line-height-52:#{$ym-line-height-52};
    --ym-font-size:#{$ym-font-size};
    --ym-font-size-xs:#{$ym-font-size-xs};
    --ym-font-size-sm:#{$ym-font-size-sm};
    --ym-font-size-lg:#{$ym-font-size-lg};
    --ym-font-size-h-display:#{$ym-font-size-h-display};
    --ym-font-size-h1:#{$ym-font-size-h1};
    --ym-font-size-h2:#{$ym-font-size-h2};
    --ym-font-size-h-display-md:#{$ym-font-size-h-display-md};
    --ym-font-size-h1-md:#{$ym-font-size-h1-md};
    --ym-font-size-h2-md:#{$ym-font-size-h2-md};
    --ym-font-size-h-display-xl:#{$ym-font-size-h-display-xl};
    --ym-font-size-h1-xl:#{$ym-font-size-h1-xl};
    --ym-font-size-h2-xl:#{$ym-font-size-h2-xl};
    --ym-monospace-font:#{$ym-monospace-font};
    --ym-regular-font:#{$ym-regular-font};
    --ym-border-size-1:#{$ym-border-size-1};
    --ym-border-size-2:#{$ym-border-size-2};
    --ym-border-size-3:#{$ym-border-size-3};
    --ym-border-size-4:#{$ym-border-size-4};
    --ym-border-size-5:#{$ym-border-size-5};
    --ym-border-size-8:#{$ym-border-size-8};
    --ym-border-radius-small:#{$ym-border-radius-small};
    --ym-border-radius-base:#{$ym-border-radius-base};
    --ym-border-radius-large:#{$ym-border-radius-large};
    --ym-border-radius-2:#{$ym-border-radius-2};
    --ym-border-radius-3:#{$ym-border-radius-3};
    --ym-border-radius-4:#{$ym-border-radius-4};
    --ym-border-radius-5:#{$ym-border-radius-5};
    --ym-border-radius-6:#{$ym-border-radius-6};
    --ym-border-radius-7:#{$ym-border-radius-7};
    --ym-border-radius-full:#{$ym-border-radius-full};
    --ym-transition-duration-slow:#{$ym-transition-duration-slow};
    --ym-transition-duration-medium:#{$ym-transition-duration-medium};
    --secondary:#{$secondary};
    --success:#{$success};
    --info:#{$info};
    --warning:#{$warning};
    --danger:#{$danger};
}