// Hard codes values are present at comment
// // no var

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-color: #fff; // no var
    color: #333; // no var
    line-height: calc(1em + 0.5rem);
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (prefers-reduced-motion: reduce) {

    *,
    ::before,
    ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-delay: 0s !important;
        transition-duration: 0s !important;
    }
}

//Settings
@import '~@angular/cdk/overlay-prebuilt.css';
@import 'tokens';
@import 'fonts';
@import 'functions';
@import 'variables';
@import 'mixins';
@import 'typescale';
@import 'utility-mixins';
@import 'utils';
@include ym-typescale-ui;
