@mixin ym-motion-bounce {
    animation: ym-motion-keyframes-bounce 1s ease;
}

@mixin ym-motion-fade-in {
    animation: ym-motion-keyframes-fade-in 1s ease;
}

@mixin ym-motion-pulse {
    animation: ym-motion-keyframes-pulse 1s ease;
}

@mixin ym-motion-spin {
    animation: ym-motion-keyframes-spin 2s infinite linear;
}

@mixin ym-motion-appear-above {
    animation: ym-motion-keyframes-appear-above 1s ease;
}

@mixin ym-motion-appear-below {
    animation: ym-motion-keyframes-appear-below 1s ease;
}