/* stylelint-disable property-no-vendor-prefix */
@mixin ym-appearance-none {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

@mixin ym-number-as-text-inout {

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    -moz-appearance: textfield;
}

/* stylelint-enable property-no-vendor-prefix */

/*Hidding scrollbar*/
@mixin ym-hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
        width: 0;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
}

/*Hidding scrollbar*/
@mixin ym-custom-scrollbar {
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
    scrollbar-width: 12px;

    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 40px;
        transition: width 0.15s;
    }
}

@mixin ym-kbd {
    display: inline-flex;
    box-sizing: border-box;
    font-family: $ym-monospace-font;
    white-space: nowrap;
    user-select: none;
    font-size: $ym-font-size-sm;
    min-width: $ym-spacing-scale-6;
    line-height: 1.7em;
    padding-left: $ym-spacing-scale-3;
    padding-right: $ym-spacing-scale-3;
    border-radius: $ym-border-radius-2;
    color: $gray-700;
    background-color: $gray-10;
    box-shadow: 0 1px 0 1px rgba($gray-950, 0.16), 0 0 0 1px rgba($gray-950, 0.16);
}

@mixin ym-blockquote {
    @include ym-text-gray-700;
    @include ym-py-3;
    @include ym-pl-6;
    @include ym-my-3;
    @include ym-mx-0;
    @include ym-inset-border-l-4-gray-100;
}