// Inset border utilities
// Uses box-shadow: inset to create a border that does not 
// increase the box size of an ::-webkit-progress-inner-element
// Naming convention: ym-inset-border-{border-position}-{border-size}-{color-name}
@mixin ym-inset-border-l-4-gray-100 {
    box-shadow: inset #{$ym-border-size-4} 0 0 0 $gray-100;
}

// Box shadow utilities
// naming convention: ym-shadow-{config-name}
@mixin ym-shadow-none($focus: true) {
    box-shadow: none;
}

// @mixin ym-shadow {
//     box-shadow: 0 1px 4px 0 rgba(#000, 0.3);
// }

@mixin ym-shadow-drawer {
    box-shadow: -4px 0 8px rgba(23, 23, 23, 0.16);
}

// New utilities to match design specs
// Per https: //gitlab.com/gitlab-org/gitlab-ui/-/issues/615,
// some of the above could be replaced.

// These use gray instead of black to align with
// tinted neutrals.
@mixin ym-shadow-layer-sm($hover: true) {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15), 0px 0px 5px 0px rgba(0, 0, 0, 0.05); // no var
}

@mixin ym-shadow-layer-md($hover: true) {
    box-shadow: 0px 0px 2px 0px rgba(23, 23, 23, 0.16), 0px 2px 8px 0px rgba(23, 23, 23, 0.16); // no var
}

@mixin ym-shadow-layer-lg($hover: true) {
    box-shadow: 0px 0px 4px 0px rgba(23, 23, 23, 0.16), 0px 4px 12px 0px rgba(23, 23, 23, 0.16); // no var
}

@mixin ym-shadow-layer-xl($hover: true) {
    box-shadow: -40px -40px 72px 0px #f3f3f3, 40px 40px 72px 0px #b3b3b3; // no var
}

@mixin ym--focus-inset($focus: true) {
    box-shadow: inset 0 0 0 2px $info;
    outline: none;
}

@mixin ym-shadow-button {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05); // no var
}

@mixin ym-shadow-scroll($hover: true) {
    box-shadow: 0px 0px 8px 0px rgba(23, 23, 23, 0.26); // no var
}

// @mixin ym-shadow-button-inset($active: true) {
//     box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15) inset; // no var
// }