// Display utilities
// naming convention ym-display-{property-value}
@mixin ym-display-none {
    display: none;
}

@mixin ym-xs-display-none {
    @include ym-media-breakpoint-down(sm) {
        @include ym-display-none;
    }
}

@mixin ym-sm-display-none {
    @include ym-media-breakpoint-up(sm) {
        @include ym-display-none;
    }
}

@mixin ym-md-display-none {
    @include ym-media-breakpoint-up(md) {
        @include ym-display-none;
    }
}

@mixin ym-lg-display-none {
    @include ym-media-breakpoint-up(lg) {
        @include ym-display-none;
    }
}

@mixin ym-display-flex {
    display: flex;
}

@mixin ym-sm-display-flex {
    @include ym-media-breakpoint-up(sm) {
        @include ym-display-flex
    }
}

@mixin ym-md-display-flex {
    @include ym-media-breakpoint-up(md) {
        @include ym-display-flex
    }
}

@mixin ym-lg-display-flex {
    @include ym-media-breakpoint-up(lg) {
        @include ym-display-flex
    }
}

@mixin ym-display-inline-flex {
    display: inline-flex;
}

@mixin ym-sm-display-inline-flex {
    @include ym-media-breakpoint-up(sm) {
        @include ym-display-inline-flex
    }
}

@mixin ym-md-display-inline-flex {
    @include ym-media-breakpoint-up(md) {
        @include ym-display-inline-flex
    }
}

@mixin ym-lg-display-inline-flex {
    @include ym-media-breakpoint-up(lg) {
        @include ym-display-inline-flex
    }
}

@mixin ym-display-block {
    display: block;
}

@mixin ym-sm-display-block {
    @include ym-media-breakpoint-up(sm) {
        @include ym-display-block
    }
}

@mixin ym-md-display-block {
    @include ym-media-breakpoint-up(md) {
        @include ym-display-block
    }
}

@mixin ym-lg-display-block {
    @include ym-media-breakpoint-up(lg) {
        @include ym-display-block
    }
}

@mixin ym-display-inline {
    display: inline;
}

@mixin ym-sm-display-inline {
    @include ym-media-breakpoint-up(sm) {
        @include ym-display-inline
    }
}

@mixin ym-md-display-inline {
    @include ym-media-breakpoint-up(md) {
        @include ym-display-inline
    }
}

@mixin ym-lg-display-inline {
    @include ym-media-breakpoint-up(lg) {
        @include ym-display-inline
    }
}

@mixin ym-display-inline-block {
    display: inline-block;
}

@mixin ym-sm-display-inline-block {
    @include ym-media-breakpoint-up(sm) {
        @include ym-display-inline-block
    }
}

@mixin ym-md-display-inline-block {
    @include ym-media-breakpoint-up(md) {
        @include ym-display-inline-block
    }
}

@mixin ym-lg-display-inline-block {
    @include ym-media-breakpoint-up(lg) {
        @include ym-display-inline-block
    }
}

@mixin ym-display-table {
    display: table;
}

@mixin ym-display-table-row {
    display: table-row;
}

@mixin ym-display-table-cell {
    display: table-cell;
}

@mixin ym-display-grid {
    display: grid;
}

@mixin ym-sm-display-table-cell {
    @include ym-media-breakpoint-up(sm) {
        @include ym-display-table-cell
    }
}

@mixin ym-md-display-table-cell {
    @include ym-media-breakpoint-up(md) {
        @include ym-display-table-cell
    }
}

@mixin ym-lg-display-table-cell {
    @include ym-media-breakpoint-up(lg) {
        @include ym-display-table-cell
    }
}

@mixin ym-display-contents {
    display: contents;
}